
@font-face {
    font-family: 'Product Sans';
    src: url(../fonts/ProductSans/ProductSansRegular.ttf);
}

$font-stack: 'Product Sans';
$kuning : #ffbe00;
$biru : #1c819d;
$padding-10px : 10px;

body {
  font-family: $font-stack;

    nav {
        border-bottom: 0.5px solid #eee;

        .navbar-brand {
            img {
                width: auto;
                height: 60px;
            }
        }

        li.nav-item {
            margin-right: 8px;
            padding-top: $padding-10px;

            a.nav-link {
                font-weight: bold;

                span {
                    color:$biru;
                    letter-spacing: 1px;
                }
            }

            a.nav-link:hover {
                font-weight: bold;

                span {
                    border-bottom: 1.5px solid $kuning;
                    letter-spacing: 1px;
                }
                
            }
        }

        li.nav-item-button {
            margin-left:10px;
            padding-top: $padding-10px;

            button.btn_kontak {
                background-color: white;
                border: 1px solid $biru;
                padding: 4px 15px 4px 15px;
                border-radius: 5px;
                text-transform: uppercase;

                span {
                    font-size: 14px;
                    color: $biru;
                }
            }

            button.btn_kontak:hover {
                background-color: $biru;

                span {
                    font-size: 14px;
                    color: white;
                }
            }

        }
    }

    #hl {
        width: 100%;
        height: auto;
        margin: 60px 0px 60px 0px;

        .img-hl {

            margin: 0px 50px 0px 50px;
            
            img {
                width: auto;
                height: 300px;
            }
        }

        .text-hl {

            margin-left: 75px;

            h1 {
                width: 450px;
                
                span {
                    font-size: 48px;
                    color: $biru;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
            }

            #garis {
                margin: -20px 0px 20px 0px;
                width:210px;
                height:5px;
                background-color: $kuning;
                border-radius: 10px; 
            }

            p {
                width: 475px;
                margin: 10px 0px 20px 0px;
                text-align: justify;

                span {
                    font-weight: bold;
                }
            }

            a.btn_hl {
                text-decoration: none;
                background-color: $kuning;
                padding: 8px 25px 8px 25px;
                border-radius: 20px;

                span {
                    font-size: 14px;
                    color: white;
                    text-transform: capitalize;
                }
            }
        }
    }

    #event {
        width: 100%;
        height: auto;
        border-top: 0.5px solid #eeeeee;

        .text-event {

            text-align: center;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;

            h1 {
                
                span {
                    font-size: 28px;
                    color: $biru;
                    letter-spacing: 2px;
                    font-weight: bold;
                }
            }

            #garis {
                margin: 5px auto;
                width:50px;
                height:3px;
                background-color: $kuning;
                border-radius: 10px; 
            }
        }
        .content-event {
            width: 100%;
            margin-bottom: 40px;

            .card {
                border-top-left-radius: $padding-10px;
                border-top-right-radius: $padding-10px;
                text-align: center;

                .card-img-top {
                    border-top-left-radius: $padding-10px;
                    border-top-right-radius: $padding-10px;
                }

                .card-body {
                    text-align: left;

                    .jenis-event {
                        width: fit-content;
                        height: auto;
                        background-color: #eee;
                        margin-bottom: 12px;
                        border-radius: 3px;

                        .jenis-event-text {
                            padding: 5px 10px 5px 10px;
                            font-size: 12px;
                            text-transform: uppercase;
                            color: #1c819d;
                            font-weight: bold;
                        }

                    }

                    .card-title {
                        font-weight: bold;
                        font-size: 17px;
                    }

                    .card-text {
                        font-size: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;      
                        -webkit-line-clamp: 4; 
                        -webkit-box-orient: vertical;
                    }

                    .btn {
                        font-size: 14px;
                        background-color: #1c819d;
                    }
                }

                padding-bottom: 20px;
                .person-text {
                    width: fit-content;
                    font-size: 12px;
                    color: grey;
                    float: left;
                    padding-left: 20px;

                    i {
                        padding-right: 10px;
                    }
                }

                .date-text {
                    width: fit-content;
                    font-size: 12px;
                    color: grey;
                    float: right;
                    padding-right: 20px;
                    i {
                        padding-right: 10px;
                    }
                }
            }

            .wrapper {
                text-align: center;
                margin-top: 40px;

                a.btn-all-event {
                    background-color: $kuning;
                    padding: 12px 30px 12px 30px;
                    border-radius: 20px;
                    text-decoration: none;
    
                    span {
                        font-size: 14px;
                        color: white;
                        text-transform: capitalize;
                        font-size: 15px;
                    }
                }
                a.btn-all-event:hover {
                    background-color: white;
                    border: 1px solid $kuning;
                    
                    span {
                        color:$kuning;
                    }
                }
            }
        }
    }

    #berita-himsi {
        width: 100%;
        height: auto;
        border-top: 0.5px solid #eeeeee;

        .text-berita {

            text-align: center;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 40px;

            h1 {
                
                span {
                    font-size: 28px;
                    color: $biru;
                    letter-spacing: 2px;

                    span {
                        font-weight: bold;
                    }
                }
            }

            #garis {
                margin: 5px auto;
                width:90px;
                height:3px;
                background-color: $kuning;
                border-radius: 10px; 
            }
        }
    }

    #footer {
        width: 100%;
        height: auto;
        border-top: 0.5px solid #eeeeee;

        .footer-desc {
            margin: 0px 0px 0px 50px;
            img {
                margin: 40px 0px 25px 0px;
            }
            p {
                width: 350px;
                margin: 10px 0px 0px 0px;
                text-align: justify;
    
                span {
                    font-weight: bold;
                }
            }
        }
        .footer-follow {
            margin: 45px 0px 15px 150px;
            p {
                width: 400px;
                font-size: 23px;
                text-transform: uppercase;
                font-weight: bold;
                color: $biru;
            }

            #garis {
                width:80px;
                height:3px;
                background-color: $kuning;
                border-radius: 10px; 
                margin-top: -10px;
            }

            p.footer-sosmed {
                margin: 25px 0px 35px 0px;

                a {
                    text-decoration: none;
                    margin: 15px 5px 0px 5px;
                    border-bottom: 1px solid #eee;
                    font-size: 16px;
                    min-width: 60px;
                    padding:12px;
                    color: $biru;
                }

                a:hover {
                    color: #ffbe00;
                }
            }
        }
        p.footer-end {
            text-align: center;
            margin: 20px 0px 20px 0px;
            color: grey;
        }
    }
}